@font-face{
    font-family: 'Raleway Bold';
    src: url('../static/fonts/Raleway_bold/Raleway_bold.eot');
    src: url('../static/fonts/Raleway_bold/Raleway_bold.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Raleway_bold/Raleway_bold.woff') format('woff'),
    url('../static/fonts/Raleway_bold/Raleway_bold.ttf') format('truetype'),
    url('../static/fonts/Raleway_bold/Raleway_bold.svg') format('svg');
    font-style:normal;
    font-stretch:normal;
    font-display:swap;
}
@font-face{
    font-family: 'Raleway Black';
    src: url('../static/fonts/Raleway_black/Raleway_black.eot');
    src: url('../static/fonts/Raleway_black/Raleway_black.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Raleway_black/Raleway_black.woff') format('woff'),
    url('../static/fonts/Raleway_black/Raleway_black.ttf') format('truetype'),
    url('../static/fonts/Raleway_black/Raleway_black.svg') format('svg');
    font-style:normal;
    font-stretch:normal;
    font-display:swap;
}
@font-face{
    font-family: 'Raleway Light';
    src: url('../static/fonts/Raleway_light/Raleway_light.eot');
    src: url('../static/fonts/Raleway_light/Raleway_light.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Raleway_light/Raleway_light.woff') format('woff'),
    url('../static/fonts/Raleway_light/Raleway_light.ttf') format('truetype'),
    url('../static/fonts/Raleway_light/Raleway_light.svg') format('svg');
    font-style:normal;
    font-stretch:normal;
    font-display:swap;
}
@font-face{
    font-family: 'Raleway Regular';
    src: url('../static/fonts/Raleway_regular/Raleway_regular.eot');
    src: url('../static/fonts/Raleway_regular/Raleway_regular.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Raleway_regular/Raleway_regular.woff') format('woff'),
    url('../static/fonts/Raleway_regular/Raleway_regular.ttf') format('truetype'),
    url('../static/fonts/Raleway_regular/Raleway_regular.svg') format('svg');
    font-style:normal;
    font-stretch:normal;
    font-display:swap;
}
@font-face{
    font-family: 'Roboto Black';
    src: url('../static/fonts/Roboto_black/Roboto_black.eot');
    src: url('../static/fonts/Roboto_black/Roboto_black.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Roboto_black/Roboto_black.woff') format('woff'),
    url('../static/fonts/Roboto_black/Roboto_black.ttf') format('truetype'),
    url('../static/fonts/Roboto_black/Roboto_black.svg') format('svg');
    font-style:normal;
    font-stretch:normal;
    font-display:swap;
}
@font-face{
    font-family: 'Roboto Bold';
    src: url('../static/fonts/Roboto_bold/Roboto_bold.eot');
    src: url('../static/fonts/Roboto_bold/Roboto_bold.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Roboto_bold/Roboto_bold.woff') format('woff'),
    url('../static/fonts/Roboto_bold/Roboto_bold.ttf') format('truetype'),
    url('../static/fonts/Roboto_bold/Roboto_bold.svg') format('svg');
    font-style:normal;
    font-stretch:normal;
    font-display:swap;
}
@font-face{
    font-family: 'Roboto Light';
    src: url('../static/fonts/Roboto_light/Roboto_light.eot');
    src: url('../static/fonts/Roboto_light/Roboto_light.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Roboto_light/Roboto_light.woff') format('woff'),
    url('../static/fonts/Roboto_light/Roboto_light.ttf') format('truetype'),
    url('../static/fonts/Roboto_light/Roboto_light.svg') format('svg');
    font-style:normal;
    font-stretch:normal;
    font-display:swap;
}
@font-face{
    font-family: 'Roboto Medium';
    src: url('../static/fonts/Roboto_medium/Roboto_medium.eot');
    src: url('../static/fonts/Roboto_medium/Roboto_medium.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Roboto_medium/Roboto_medium.woff') format('woff'),
    url('../static/fonts/Roboto_medium/Roboto_medium.ttf') format('truetype'),
    url('../static/fonts/Roboto_medium/Roboto_medium.svg') format('svg');
    font-style:normal;
    font-stretch:normal;
    font-display:swap;
}
@font-face{
    font-family: 'Roboto Regular';
    src: url('../static/fonts/Roboto_regular/Roboto_regular.eot');
    src: url('../static/fonts/Roboto_regular/Roboto_regular.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/Roboto_regular/Roboto_regular.woff') format('woff'),
    url('../static/fonts/Roboto_regular/Roboto_regular.ttf') format('truetype'),
    url('../static/fonts/Roboto_regular/Roboto_regular.svg') format('svg');
    font-style:normal;
    font-stretch:normal;
    font-display:swap;
}